<%include ../partials/header.ejs %>

      <p> <%= title %></p>
      <p> Name: <%= contactInfo.lastName %>, <%= contactInfo.firstName %></p>
      <p> Contact Number: <%= contactInfo.contactNumber %></p>
      <p> Email address: <%= contactInfo.email %></p>
      <p> Message: <%= contactInfo.message %></p>

      <a class="btn btn-primary" href="/" role="button">Back to home page</a>
  

  <%include ../partials/footer.ejs %>