<!--

/**
  * file name: contactinfo.ejs
  * Student name: Nusrat Jahan
  * Student Id: 300967157
  * Date: Feb 16, 2019
  */

-->

<%include ../partials/header.ejs %>

<!-- Shows contact information -->

<div id="contactInfoPage">
    <div class="m-5 p-5 font-weight-bolder">
        <h4 class="text-primary"> <%= title %></h4>
        <p> Name: <%= contactInfo.lastName %>, <%= contactInfo.firstName %></p>
        <p> Contact Number: <%= contactInfo.contactNumber %></p>
        <p> Email address: <%= contactInfo.email %></p>
        <p> Message: <%= contactInfo.message %></p>

    </div>
    <a class="btn btn-primary" href="/" role="button">Back to home page</a>

</div>

<%include ../partials/footer.ejs %>